.invButton button {
    cursor: pointer;
    border: none;
    border-radius: 25px;
    background: linear-gradient(90deg, rgba(49,211,92,1) 0%, rgba(43,183,218,1) 100%);
    color: hsl(0, 0%, 98%);
    padding: 10px 20px;
    font-weight: bold;
}

.invButton button:hover {   
    opacity: .65;
    color: hsl(0, 0%, 98%);   
}